{% extends "HearthbreakerBundle::layout.html.twig" %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-body">
			{{ form_start(form) }}
			{{ form_row(form.title) }}
			{{ form_row(form.class) }}
			<div class="row">
				<div class="col-xs-4">{{ form_row(form.buy) }}</div>
				<div class="col-xs-4">{{ form_row(form.vote_up) }}</div>
				<div class="col-xs-4">{{ form_row(form.vote_down) }}</div>
			</div>
			<div class="row">
				<div class="col-xs-6">{{ form_row(form.card_percent) }}</div>
				<div class="col-xs-6">{{ form_row(form.buy_percent) }}</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Buy</th>
						<th>Note</th>
						<th>Card %</th>
						<th>Buy %</th>
					</tr>
				</thead>
				<tbody>
				{% for deck in decks %}
					<tr>
						<td><a href="{{ path('deck_detail', {'slug': deck.deck.slug}) }}">{{ deck.deck.name }}</a></td>
						<td>{{ deck.deck.buy }}</td>
						<td>{{ deck.deck.voteUp }} - {{ deck.deck.voteDown }}</td>
						<td>{{ deck.cardPercent }} %</td>
						<td>{{ deck.buyPercent }} %</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
